* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  margin: 0;
  background: #eef2ff;
  min-height: 100vh;
  color: #111;
}

/* NAVBAR */
nav {
  background: #1e293b;
  padding: 15px;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* COMMON PAGE CARD */
.page,
.dashboard {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* CARD STYLE */
.welcome-card,
.stat-card,
.page {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* DASHBOARD  */
.stats {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-card {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

/* BUTTONS */
button,
.action-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.action-btn.outline {
  background: transparent;
  border: 2px solid #2563eb;
  color: #2563eb;
}

/* FORM INPUTS */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* PROFILE ITEMS */
.profile-item {
  background: #e0e7ff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* FEEDBACK PREVIEW */
#previewText {
  background: #f1f5f9;
  padding: 10px;
  min-height: 40px;
  border-radius: 6px;
}

/* DARK MODE */
.dark {
  background: #020617;
  color: white;
}

.dark nav {
  background: black;
}

.dark .page,
.dark .welcome-card,
.dark .stat-card {
  background: #111;
  color: white;
}

.dark input,
.dark textarea {
  background: #111;
  color: white;
  border-color: #444;
}

/* HIDE */
.hidden {
  display: none;
}
