body {
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, sans-serif;
  }
  
  .container{
    display: flex;
    justify-content:space-between;
    margin-top: 2em;


  }
  .left{
    display:block;
    margin-left: 10px;
    width: 25%;
    padding: 5px;
    background-color: white;

  }
  .middle{
    background-color: white;
    width: 40%;

  }
  .right{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 10px;
    background-color: white;
    width: 25%;
    
  }
